.containter{
    margin: 0 .427rem;
}
.card_photo{
    width: 16rem;
    height: 16rem;
    margin-left: -.427rem;
}
.card_photo img{
    width: 16rem;
    height: 16rem;
}
.name .card_name{
    font-size:.64rem;
    font-weight: 600;
    color:#333;
    margin-top: .8rem;
    margin-bottom: .6rem;
    line-height: 0.853rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.containter .price{
    display: flex;
    justify-content: space-between;
    margin-bottom: .7rem;
}
.containter .price .left{
    font-size:.768rem;
    color:#FF3B3B;
    font-weight: 600;
}
.containter .price .left span{
    font-size:.64rem;
}
.containter .price .right{
    font-size:.512rem;
    color:#666;
}
.containter .balance{
    font-size: .512rem;
    color: #999;
    margin-bottom: .64rem;
}
.containter .balance span{
    color: #FF3B3B;
}
.car_balance .giving{
    width:15.15rem;
    padding-left: .64rem;
    height:1.707rem;
    line-height: 1.707rem;
    background:#FFF0F0;
    border:.0213rem solid #FFCCCC;
    border-radius:.427rem;
    font-size:.512rem;
    color:#FF3B3B;
    margin-bottom: .853rem;
}
.buy_number .car_balance{
    padding: 0 .427rem;
}
.containter .border{
    width:16rem;
    margin-left: -.427rem;
    height:.213rem;
    background:#F5F5F5;
}
.containter .notice .title{
    font-size:.64rem;
    color:#333;
    margin: 1.15rem 0 .64rem 0;
    font-weight:600;
}
.containter .notice .content{
    font-size:.512rem;
    color:#666;
    line-height:.768rem;
}
.query{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6.5rem;
    font-size:.512rem;
    margin-top: .768rem;
}
.query .left{
    color:#999;
}
.query .right{
    color:#FF733D;
}
.query .right img{
    width: .68rem;
    height: .68rem;
}
 .phone{
    position: fixed;
    top:50%;
    left: 1.707rem;
    width:12.58rem;
    height: 6.82rem;
    margin-top: -3.41rem;
    background:#fff;
    border-radius:.427rem;
     z-index: 999;
     display: none;
}
 .service_phone{
    font-size:.768rem;
    color:#333;
    text-align: center;
    margin-top: 1.877rem;
    margin-bottom: 1.152rem;
}
 .call{
    width:5.12rem;
    height:1.92rem;
    line-height: 1.92rem;
    background:#FF3B3B;
    border-radius:1rem;
    color: #fff;
    text-align: center;
    font-size: .768rem;
    margin: 0 auto;
}
 .close{
    position: fixed;
    top: 50%;
    left: 7.232rem;
    width: 1.536rem;
    height: 1.536rem;
    margin-top: 5.55rem;
     z-index: 999;
     display: none;
}
 .close img{
    width: 1.536rem;
    height: 1.536rem;
}
.buy_number{
    position: fixed;
    bottom: 0;
    width: 16rem;
    min-height: 10.24rem;
    background:#fff;
    border-radius:.427rem .427rem 0 0;
    z-index: 99;
    display: none;
    padding-bottom: 3.54rem;
    z-index: 1000;
}
.buy_number .top{
    padding: .853rem .427rem;
    display: flex;
    justify-content: space-between;
}
.buy_number .close_img{
    width: 1.024rem;
    height: 1.024rem;
    position: absolute;
    right: .427rem;
    top: .427rem;
    z-index: 1000;
}
.buy_number .car_img{
    width: 3.84rem;
    height: 3.84rem;
}
.buy_number .car_img img{
    width: 3.84rem;
    height: 3.84rem;
    border:1px solid #E6E6E6;
    border-radius:.427rem;
}
.buy_number .car_name{
    width: 10.46rem;
    position: relative;
}
.buy_number .car_name .name{
    font-size:.64rem;
    color:#333;
    padding: .64rem 0 0;
    line-height: .768rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.buy_number .car_name .price{
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    position: absolute;
    bottom: 0;
    width: 10.46rem;
}
.buy_number .car_name .price p{
    color: #FF3B3B;
    font-size: .768rem;
    font-weight: 600;
}
.buy_number .car_name .price p span{
    font-size: .64rem;
}
.buy_number .car_name .price .number{
    color: #999;
    font-size: .512rem;
}
.buy_number .middle{
    display: flex;
    justify-content: space-between;
    padding: 0 .427rem;
}
.buy_number .middle .left{
    color: #333;
    font-size: .64rem;
    line-height: 1.365rem;
}
.buy_number .middle .right{
    width: 4.34rem;
    height: 1.365rem;
    border: .0213rem solid #ccc;
    font-size: 0;
}
.buy_number .middle .right .minus{
    background: #F5F5F5;
    border-left: .0213rem solid #ccc;
    height: 1.25rem;
    line-height: 1.2223rem;
}
.buy_number .middle .right span{
    display: inline-block;
    width: 1.365rem;
    font-size: 1rem;
    text-align: center;
}
.buy_number .middle .right .right_number{
    width: 1.536rem;
    font-size: .64rem;
    border-top: 0.0213rem solid #ccc;
}
.buy_number .middle .right input{
    display: inline-block;
    width: 1.536rem;
    height: 1.3224rem;
    outline: none;
    border: .0213rem solid #ccc;
    text-align: center;
    border-top: none;
}
.go_order{
    position: fixed;
    bottom: .427rem;
    display: inline-block;
    width:15.15rem;
    height:1.92rem;
    z-index: 999;
}
.buy_show{
    margin: 2rem .427rem .427rem;
}
.buy{
    margin-left: .427rem;
    width:15.15rem;
    height:1.92rem;
    line-height: 1.92rem;
    text-align: center;
    background:#FF3B3B;
    border-radius:1rem;
    font-size:.768rem;
    color:#fff;
    z-index: 99;
}