<style>
    .photolist td{
        height: 60px;
    }
    .photolist .handle{
        min-width: 60px !important;
    }
    .photolist .handle div{
        text-align: center;
        min-width: 30px !important;
        max-width:30px !important;
    }
</style>
<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
    <table>
        <tbody class="photolist">
        <foreach name="list" item="vo" key="k" >
            <tr style=" display: flex;align-items: center;    float: left;" data-id="{$vo['file_id']}">
                <td class="sign">
                    <div style="width: 24px;"><i class="ico-check"></i></div>
                </td>
                <td align="center" style="min-width:50px;" class="">
                    <div style="height: 50px;padding: 5px">
                        <img src="{$vo.path}" style="width: 50px;height: 50px" />
                    </div>
                </td>
                <td align="center" class="handle">
                    <div>
                        <a class="btn red"  href="javascript:void(0)" data-name="file" data-field_name = 'file_id' data-id="{$vo.file_id}" onclick="delfuntion(this)">删除</a>
                    </div>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>
<!--分页位置-->
{$pager->show()}
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid >table>tbody>tr').click(function(){
            $(this).toggleClass('trSelected');
        });
        $('#user_count').empty().html("{$pager->totalRows}");
    });
    function delfun(obj) {
        // 删除按钮
        layer.confirm('确认删除？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data: {id : $(obj).attr('data-id')},
                dataType: 'json',
                success: function (data) {
                    layer.closeAll();
                    if (data.status == 1) {
                        $(obj).parent().parent().parent().remove();
                    } else {
                        layer.alert(data.msg, {icon: 2});
                    }
                }
            })
        }, function () {
        });
    }
</script>